#Nome 
 {
    color: black;
    text-align: center;
  }

.item-dados
{
    margin: 5;
    padding: 5px;
    border: solid black;
    border-right: 50%;
    border-radius: 10px;
}

.dados:hover
{
    box-shadow: 5 5 10px 0 black;
    transition: 0.3s all;
}

.Cargo
{
    color: goldenrod
}

body
{
    
    background-image: url(../Assets/Backgrounds/I.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    
    
    
}
#Cursos
{
    background-image: url(../Assets/Backgrounds/H.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a
{
text-decoration: none;
color: black
}

.botao
{
   border-color: #9ACD32;
   color: #fff;
   box-shadow: 0 0 40px 40px #9ACD32 inset, 0 0 0 0 #9ACD32;
   -webkit-transition: all 150ms ease-in-out;
   transition: all 250ms ease-in-out;
   border-radius: 30px;
}

.botao:hover 
{
    box-shadow: 0 0 10px 0 #32CD32 inset, 0 0 10px 4px #ADFF2F;
}



#proposição
{
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px inset;
}
