body
{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'PlayfairDisplaySC-Regular';
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header
{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

#title
{
    flex-direction: column;
    line-height: 10px;
}

li
{
    display: inline-block;
    margin: 20px;
}

a
{
    color: white;
}

a:hover
{
    color: rgb(255, 215, 0);
    transition: 0.5s all;
}

h1
{
    font-weight: 200;
}

h2
{
    font-size: 56px;
    line-height: 10px;
    font-family: PlayfairDisplaySC-Regular;
}

span
{
    color: rgb(132, 14, 201);
}

main
{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

p
{
    line-height: 20px;
    max-width: 500px;
    font-family: Athena;
}

img
{
    width: 580;
}

#ADC-btm
{
    border: 2px solid rgb(255, 165, 0);
    padding: 10px;
    border-radius: 15px;
}

#ADC-btm:hover
{
    background-color: rgb(255, 165, 0);
    border: 2px solid rgb(255, 69, 0);
    color: black;
    font-weight: bold;
}

form
{
display: flex;
flex-direction: column;
width: 70%;
}

input
{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form [type="Submit"]
{
    height: 50px;
    width: 50%;
    background-color: rgb(255, 165, 0);
    font-weight: bold;
}

form [type="Submit"]:hover
{
cursor: pointer;
}