/*Para importar a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*
{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
}


/*Unidade de medida em REM é (Relativo à Raiz), VH é relativa à altura, PX é Pixel */
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

/*Para todo o conteudo visivel*/
.container
{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

/*Apenas a imagem*/
.form-image
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

/*Para mudar o tamanho da imagem sem mudar o tamanho do quadrado do conteudo da esquerda*/
.form-image img
{
width: 31rem;
}


/*Para o formulario*/
.form
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

/*Cadastre-se e Botão Entrar, para ficar um do lado do outro e com um pouco de espaçamento*/
.form-header
{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

/*Posição do botão*/
.login-button
{
    display: flex;
    align-items: center;
}


/*Conteudo do botão*/
.login-button button
{
  border: none;
  background-color: #6c63ff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover
{
    background-color: #6b63fff1;
}

/*Link do botão*/
.login-button button a
{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

/*Risquinho Abaixo da palavra cadastre-se*/
.form-header h1::after
{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

/*Boxs de inserção de informações*/
.input-group
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;  
}

.input-box
{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

/*Conteudo interno dos Boxs de inserção*/
.input-box input
{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2 rem;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    border-radius: 10px;
}

.input-box input:hover
{
    background-color: #eeeeee75;
}

/*Caso o box esteja selecionado*/
.input-box input:focus-visible
{
    outline: 1px solid #6c63ff;
}

/*Texto acima do box de inserção e da palavra generos*/
.input-box label,
.gender-title h6
{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

/*Texto de dentro do box*/
.input-box input::placeholder
{
    color: #000000be;
}

.gender-group
{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input
{
    display: flex;
    align-items: center;
}

/*Para separar um pouco a bolinha de seleção e o texto*/
/*Bolinha*/
.gender-input input
{
    margin-right: 0.35rem;
}
/*Texto*/
.gender-input label
{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button
{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover
{
    background-color: #6b63fff1;
}

.continue-button button a
{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}


/*Para a Responsividade*/

@media screen and (max-width: 1330px)
{
    /*Apenas a imagem foi removida*/
    .form-image
    {
        display: none;
    }

    .container
    {
        width: 50%;
    }
}


/*Mais reponsividade*/
@media screen and (max-width: 1064px)
{
    
    /*Colocamos Scroll e ajustamos algumas posições*/
    .container
    {
        width: 90%;
        height: auto;
    }
    .input-group
    {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;  /*Altura para o Scroll*/
        padding-right: 5rem; /*Distancia horizontal para o Scroll*/
    }

    /*Distancia do genero para os box*/
    .gender-input
    {
        margin-top: 2rem;
    }

    /*Para ficar um embaixo do outro*/
    .gender-group
    {
        flex-direction: column;
    }

    /*Distancia entre os generos*/
    .gender-input
    {
        margin-top: 0.5rem;
    }
}