body
{
background-color: black;
}

.card
{
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url(./Assets/backgorund.png) no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}

a
{
    text-decoration: none;
    color: black;
}

.Insta
{
list-style-image: url(./Assets/Insta.png);
}

.Twitter
{
list-style-image: url(./Assets/Twitter.png);
}
.YouTube
{
list-style-image: url(./Assets/Youtube.png);
}